
header {
    margin-bottom: 200px;
    margin-top: 10px;
    font-family: centaur;
    font-weight: lighter;
    text-align: left;
    font-size: 70px;
    color: white;
    
    
    
  
}

body {
    
    background-image: url(imagenes/Creation_of_Adam.jpg);
    background-repeat: no-repeat;
    background-position: top center;   
    background-size: contain;
}


h1 {
    
    margin-top: 100px;
    margin-left: 50px;
    
}



h2 {
    
    color: #383838;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 200px;
    
}


section {
    
    max-width: 800px;
    margin: auto;
    
}
    


img {
    width: 100%;
    height: auto;
    filter: saturate(0);
    
}




a:hover img {
    filter: saturate(1);
}


.flex {
    
    display: flex;
    flex-flow: column wrap;
align-content: space-between;
height: 1091px;
    
}

.flex a{
    width: 32%;
}

.flex::before,
.flex::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}






.flex  {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}
