header, footer {
    background-color: gray;
}

.navbar-brand img {
    height: 30px;
}
/* Hemos dado prioridad a la altura, la anchura se calcula automáticamente para
respetar la proporción. Centramos la imagen */
.carousel-item {
    text-align: center;
}
.carousel-inner img {
    width: auto;
    max-height: 400px;
}

main {
    background-color: black;
}


#titulo{
    
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right:  auto;
}

#texto{
    width: 750px;
    margin-left: 200px;
    margin-right: 200px;
}


a {
    
  color: gray;
    
}



a:link {
  
    text-decoration: none;
     
}


a:hover {
    
    text-decoration: underline;
    color: #F87979;
    padding: 5px;
    
  
}

.enlace1:hover {
    
    text-decoration-line: line-through;
    padding: 5px;
    color: gray;
}


#foto{
    
   align-content: center;
   
    
}

#ulista {
    
    margin-top: 100px;
    
}

header {
    background-color: #22142b;
   
    
}

body {

    font-family: Verdana, Arial, Helvetica, sans-serif;
    
   margin-bottom: 1px;
}

footer {
    
    height: 500px;
    background-color: #22142b;
    
}

ol {
    
    margin-top: 100px;
    margin-left: 160px;
    margin-bottom: 100px;
    list-style: none;
    
}


body ol {
    line-height: 20px;
    color: gray;
    font-size: 10px;
   
}

footer ol {
    line-height: 40px;
    color: white;
    font-size: 18px;
    
}

h1 {
    font-weight: lighter;
}

h7 {
    color: gray;
    font-size: 10pt;
    margin-bottom: 50px;
}

p{
    line-height: 1.2;
    font-size: 16px;
}

div{
    width: 750;
    margin-left: auto;
    margin-right: auto;
    
    
}